  /*PHONE FORMATTING*/
.zoom {
  font-size: 30px;
  width: 120px;
  height: 48px;
  color: blue;
}
.zoom:hover {
  transform: scale(1.13);
}
#discord {
  top: 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#repo {
  top: 400px;
}
#tiktok {
  top: 500px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
