/*DEFAULT COMPUTER FORMATTING*/
body, html {
  height: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
h1 {
  font-size: 70px;
  font-weight: 500;
  font-family: arial;
  color: black;
  background-color: #7289da;
  text-align: center;
  width: ;
  height: 150px;
  margin: 0px;
  padding-top: 45px;
}
h2 {
  font-size: 25px;
  font-weight: 500;
  font-family: arial;
  text-align: center;
  text-decoration: underline;
}
p {
  font-size: 20px;
  font-weight: normal;
  font-family: arial;
  text-indent: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.zoom {
  font-size: 50px;
  font-family: arial;
  color: black;
  border-color: black;
  border-width: 4px;
  border-style: solid;
  text-align: center;
  position: absolute;
  top: 400px;
  width: 200px;
  height: 80px;
  transition: transform .2s;
  border-radius: 30px;
}
.zoom:hover {
  transform: scale(1.2);
}
.bg {
  height: 100%;
  background-image: url('../image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#discord {
  background-color: #7289da;
  left: 15%
}
#repo {
  background-color: #b08800;
  left:0;
  right:0;
  margin: auto;
}
#tiktok {
  background-color: orchid;
  right: 15%;
}
#aboutme {
  font-family: arial;
  font-size: 30px;
  background-color: #a899df;
  text-indent: 50px;
  height: 100%;
  padding: 10px;
}
